<h2 mat-dialog-title>Loan Payment</h2>
<mat-dialog-content>
  <div *ngIf="loading">Loading...</div>
  <ng-container *ngIf="!loading">
    <p><b>Current balance: {{ data.balance }}</b></p>
    <mat-form-field>
      <mat-label>Amount to pay:</mat-label>
      <input type="number" name="amount" [(ngModel)]="amount" matInput></mat-form-field>
  </ng-container>

  <mat-error *ngIf="errorMsg">
    {{ errorMsg }}
  </mat-error>

  <mat-dialog-actions>
    <button mat-button="filled" (click)="onSubmit()">Save</button>
  </mat-dialog-actions>


</mat-dialog-content>

